<configuration>

    <appender name="CONSOLE" class="ua.edu.ukma.cinemax.logger.CinemaLoggerAppenderConsole">
    </appender>

    <appender name="FILE" class="ua.edu.ukma.cinemax.logger.CinemaLoggerAppenderFile">

    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
