h1{
    color: green;
    font-family: "Century Gothic", serif;
    font-weight: bold;
}

h2{
    color: seagreen;
    font-family: "Century Gothic", serif;
    font-weight: bold;
}

form{
    font-family: "Century Gothic", serif;
    font-weight: bold;
}

input{
    font-family: Calibri, serif;
}

button{
    background-color: lightgreen;
    font-family: "Century Gothic", serif;
    font-size: 20px;
    margin-top: 10px;
}

table{
    font-family: Calibri, serif;
}

thead{
    background-color: lightgreen;
    font-weight: bold;
}

footer{
    color: green;
    font-family: "Century Gothic", serif;
    font-weight: bold;
    margin-top:60px;
}