<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Cinema Halls</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<h1>About</h1>
<div th:inline="text">
    <b></br>Командою було обрану систему збирання Gradle, чому так?</b></br></br>

    * DSL розмітка замість XML (менше стрічок коду займає)</br>
    * Декларативний стиль</br>
    * Автокомпліт .kts файлів</br>
    * Зрозумілий синтаксис</br>
    * Непотрібно компілювати проект, щоб отримати результат оновлення, достатьньо збілдити градл</br>
    * Демон + інкрементальна збірка = перевикористання тасок</br></br>

    <b>Онлайн система для кінотеатру:</b></br>

    * список фільмів, сеансів</br>
    * додатково: рейтинги фільми серед користувачів</br>
    * різні рівні доступу: адміністратор, користувач</br></br>

    <b>Для адміністратора:</b></br>

    * додавання фільмів, сеансів</br>
    * зміна розкладу сеансів тощо</br></br>

    <b>Для користувача:</b></br>

    * замовлення квитків, отримання чеку</br>
    * меню замовлення: вибір місць для конкретного сеансу</br>
    * кошик з усіма замовленнями</br></br>

    <b>Додатково:</b></br>

    * оцінювання фільму</br>
    * історія замовлень</br></br>

    <b>Log4j2 чи Logback</b></br>
    Logback - стандартно використовується в Spring</br>
</div>
</body>
</html>