<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <span sec:authentication="name">Username</span>
    <span sec:authentication="principal.authorities">Roles</span>
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <a href="/new">Create New Product</a>
    </div>
    <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <a href="/edit">Edit</a>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/delete">Delete</a>
    </div>
</body>
</html>