<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Film</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Film was created! <a th:href="@{/film/all}">See all films</a>
                    </div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Film with given TMDB ID already exists.
                    </div>
                </div>
                <div class="card-header">
                    <h2 class="text-center">Add film</h2>
                </div>
                <div class="card-body">
                    <form method="post"
                          role="form"
                          th:action="@{/film/add}"
                          th:object="${film}">
                        <div class="form-group mb-3">
                            <label class="control-label">Title</label>
                            <input class="form-control"
                                   id="title"
                                   name="title"
                                   placeholder="Enter title"
                                   th:field="*{title}"
                                   type="text"/>
                            <p class="text-danger" th:errors="*{title}"
                               th:if="${#fields.hasErrors('title')}">
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label">Release year</label>
                            <input class="form-control"
                                   id="releaseYear"
                                   min="1900"
                                   name="releaseYear"
                                   placeholder="1900"
                                   th:field="*{releaseYear}"
                                   type="number"/>
                            <p class="text-danger" th:errors="*{releaseYear}"
                               th:if="${#fields.hasErrors('releaseYear')}">
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label">Description</label>
                            <textarea class="form-control"
                                      id="description"
                                      name="description"
                                      placeholder="Enter description"
                                      th:field="*{description}"></textarea>
                            <p class="text-danger" th:errors="*{description}"
                               th:if="${#fields.hasErrors('description')}">
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label">TMDB ID</label>
                            <input class="form-control"
                                   id="tmdbId"
                                   min="0"
                                   name="tmdbId"
                                   placeholder="0"
                                   th:field="*{tmdbId}"
                                   type="number"/>
                            <p class="text-danger" th:errors="*{tmdbId}"
                               th:if="${#fields.hasErrors('tmdbId')}">
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary" type="submit">Add Film</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>