<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Films</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid black;
        }

        .container {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <div th:if="${param.success}">
        <div class="alert alert-success">Film was deleted!</div>
    </div>
    <div th:if="${param.delete_error} != null">
        <div class="alert alert-danger">Could not delete film.</div>
    </div>
    <hr/>
    <h2>All Films:</h2>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/film/add}">
            <button class="btn btn-primary">Add new film</button>
        </a>
        <br/>
    </div>
    <hr/>
    <table>
        <div th:each="film: ${films}">
            <tr>
                <td>
                    <img th:src="${film.imageLink}" width="250"/>
                </td>
                <td width="400">
                    <h3 th:text="${film.title}"></h3>
                    <p><b>Release year:</b><span th:text="${film.releaseYear}"></span></p>
                    <b>Description:</b>
                    <p th:text="${film.description}"></p>
                    <div class="container" style="text-align: center">
                        <a th:href="@{/film/{id}(id=${film.id})}">
                            <button class="btn btn-primary">See sessions</button>
                        </a>
                        <div class="container" sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/film/edit/{id}(id=${film.id})}">
                                <button class="btn btn-primary">Edit</button>
                            </a>
                            <a th:href="@{/film/delete/{id}(id=${film.id})}">
                                <button class="btn btn-primary">Delete</button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </div>
    </table>
</div>
<br/>
<br/>
<br/>
</body>
</html>